---
faq:
  - question: What game versions are played in Multiplayer?
    answer: The Moon Project version [TMP] v2.2  &  Lost Souls [LS] = v2.1.9.9 + OPX for OperationX [OPX] Games
  - question: Where are Multiplayer games played?
    answer: As of right now, Earthnet/MoonNet is broken, so all Multiplayer games take place on [GameRanger](https://www.gameranger.com/). *If you do have issues with GameRanger, If you have any issues, you can fix them by configuring your router to enable Universal Plug and Play (UPnP), or manually do port forwarding for UDP port 16000.*
  - question: I can't map gameranger to my install of Earth 2150, why?
    answer: To enable GameRanger to see the Earth Series games from Steam, you must first move the Game Executable outside of the steam folder structure, if GameRanger is still unable to see the game then COPY the entire game folder to a location outside of the steam folder structure (IE Desktop), however make sure you have **fully patched to v2.2** before doing so.
  - question: Ive run the patch intsller but it still shows the same version in game?
    answer: Right click the patch executable and click "Run as Administrator". Make sure you have loaded the game at least once before installing.
  - question: What ports need to be forwarded to play on EarthNet/MoonNet?
    answer: UDP 2300 - 2400 & UDP 47624
  - question: Ingame Videos do not display/run, how do i fix this?
    answer: You need to install the [K-Lite Codec Pack](https://www.codecguide.com/download_kl.htm) to enable vidoes to play within game.
  - question: I dont seem to be able to connect to multiplayer games via GameRanger or EarthNet/MoonNet?
    answer: Ensure Direct Play is installed and enabled by going into Settings **>** Programs & Features **>** Turn Windows Features on and off **>** Legacy Components **>** DirectPlay
  - question: I heard that Earth 2170 was in development by the community, is this true?
    answer: The programme of work is currently on hold as due to the developers (@.:LWA:.DreamMaker @Fenix) being on hiatus
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>